# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
__init__.py

# 其他
weights/
bge-small-zh-v1.5/
**/*datas*/
**/*outputs*/
**/*checkpoints*/
**/*docs*/
.env*
echo "AI_Model/" >> .gitignore
*.gz
*.zip
*.mp4
*ubyte