# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
__init__.py
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# 虚拟环境
venv/
env/
ENV/
.venv

# 环境变量
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 日志
*.log

# 测试
.pytest_cache/
.coverage
htmlcov/

# 操作系统
.DS_Store
Thumbs.db

# 其他
weights/
node_modules/
bge-small-zh-v1.5/
**/*datas*/
**/*outputs*/
**/*checkpoints*/
**/*docs*/
.env*
echo "AI_Model/" >> .gitignore
*.gz
*.zip
*.mp4
*ubyte

